[submodule "CryptoPkg/Library/OpensslLib/openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = git@gitee.com:loswdarmy/openssl.git
[submodule "UnitTestFrameworkPkg/Library/CmockaLib/cmocka"]
	path = UnitTestFrameworkPkg/Library/CmockaLib/cmocka
	url = git@gitee.com:wwdashuaige/edk2-cmocka.git
[submodule "MdeModulePkg/Universal/RegularExpressionDxe/oniguruma"]
	path = MdeModulePkg/Universal/RegularExpressionDxe/oniguruma
	url = git@gitee.com:wwdashuaige/oniguruma.git
[submodule "MdeModulePkg/Library/BrotliCustomDecompressLib/brotli"]
	path = MdeModulePkg/Library/BrotliCustomDecompressLib/brotli
	url = git@gitee.com:jonestseng/brotli.git
[submodule "BaseTools/Source/C/BrotliCompress/brotli"]
	path = BaseTools/Source/C/BrotliCompress/brotli
	url = git@gitee.com:jonestseng/brotli.git
	ignore = untracked
[submodule "RedfishPkg/Library/JsonLib/jansson"]
	path = RedfishPkg/Library/JsonLib/jansson
	url = git@gitee.com:jiangwei0512/jansson.git
[submodule "UnitTestFrameworkPkg/Library/GoogleTestLib/googletest"]
	path = UnitTestFrameworkPkg/Library/GoogleTestLib/googletest
	url = git@gitee.com:shtoutman/googletest.git
[submodule "UnitTestFrameworkPkg/Library/SubhookLib/subhook"]
	path = UnitTestFrameworkPkg/Library/SubhookLib/subhook
	url = git@gitee.com:wwdashuaige/edk2-subhook.git
[submodule "MdePkg/Library/BaseFdtLib/libfdt"]
	path = MdePkg/Library/BaseFdtLib/libfdt
	url = git@gitee.com:wwdashuaige/pylibfdt.git
[submodule "MdePkg/Library/MipiSysTLib/mipisyst"]
	path = MdePkg/Library/MipiSysTLib/mipisyst
	url = git@gitee.com:jonestseng/public-mipi-sys-t.git
[submodule "CryptoPkg/Library/MbedTlsLib/mbedtls"]
	path = CryptoPkg/Library/MbedTlsLib/mbedtls
	url = git@gitee.com:wwdashuaige/mbedtls.git
[submodule "SecurityPkg/DeviceSecurity/SpdmLib/libspdm"]
	path = SecurityPkg/DeviceSecurity/SpdmLib/libspdm
	url = git@gitee.com:jiangwei0512/libspdm.git
[submodule "TcgTpmPkg/Library/TpmLib/TPM"]
	path = TcgTpmPkg/Library/TpmLib/TPM
	url = https://github.com/TrustedComputingGroup/TPM
